<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- owl-carousel css  -->
    <link rel="stylesheet" href="../assets/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/owl-carousel/assets/owl.theme.default.min.css">

    <!-- font-awsome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- local css  -->
    <link rel="stylesheet" href="../assets/css/stylesheets.css">

    <title>Mua bán bất động sản</title>
</head>

<body>

    <!-- Top navigation -->

    <header class="nav-block">
        <div class="container">
            <div class="row">
                <ul class="col-sm-9">
                    <li class="nav-item"><img src="../assets/images/logosvg.svg" alt="" class="logo"></li>
                    <li class="nav-item"><a href="#">Nhà đất bán</a></li>
                    <li class="nav-item"><a href="#">Dự án</a></li>
                    <li class="nav-item"><a href="#">Văn phòng</a></li>
                    <li class="nav-item"><a href="#">Tin tức</a></li>
                    <li class="nav-item"><a href="#">Phong thủy</a></li>
                    <li class="nav-item"><a href="#">Danh bạ</a></li>
                </ul>
                <ul class="col-sm-3">
                    <li class="nav-item">
                        <a href="#favorite"><i class="fas fa-heart"></i></a>
                        <a href="#login" class="login"><i class="fas fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!--// Top navigation -->

    <!-- Filter -->
    <div class="filter-block">
        <div class="container">
            <div class="row">
                <ul class="col-sm-5 _s">
                    <li>
                        <div class="btn-group">
                            <span class="btn btn-outline-secondary action">Bán</span>
                            <span class="btn btn-outline-secondary action">Cho thuê</span>
                        </div>
                    </li>
                    <li>
                        <input type="text" class="search-box form-control" placeholder="Tìm kiếm địa điểm, khu vực">
                    </li>
                </ul>
                <ul class="col-sm-7 _f">
                    <li>
                        <div class="form-group">
                            <select class="form-control" name="type" id="type">
                                <option value="">--Loại nhà đất--</option>
                                <option>Căn hộ</option>
                                <option>Trung cư</option>
                                <option>Nhà riêng</option>
                                <option value="">Văn phòng</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <select class="form-control" name="type" id="type">
                                <option value="">--Loại nhà đất--</option>
                                <option>Căn hộ</option>
                                <option>Trung cư</option>
                                <option>Nhà riêng</option>
                                <option value="">Văn phòng</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <select class="form-control" name="type" id="type">
                                <option value="">--Loại nhà đất--</option>
                                <option>Căn hộ</option>
                                <option>Trung cư</option>
                                <option>Nhà riêng</option>
                                <option value="">Văn phòng</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <span class="btn btn-secondary">Tìm kiếm</span>
                        <i class="resetFilter"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Filter -->

    <!-- Detail Product  -->
    <div class="container detail-container">
        <div class="row">
            <div class="col-sm-8 main">

                <div class="slider-product">
                    <div class="owl-carousel product-owl">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#one">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#two">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#three">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#four">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#five">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#six">
                        <img src="../assets/images/home.jpg" alt="tada" srcset="" data-hash="#seven">
                    </div>
                    <div class="sub-images">
                        <a href="#one">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                        <a href="#two">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                        <a href="#three">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                        <a href="#four">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                        <a href="#five">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                        <a href="#six">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                        <a href="#seven">
                            <img src="../assets/images/home.jpg" alt="tada" srcset="">
                        </a>
                    </div>
                </div>

                <div class="navigation">
                    <a href="" class="nav-link">Cho thuê</a><span>/</span>
                    <a href="" class="nav-link">Cho thuê</a><span>/</span>
                    <a href="" class="nav-link">Cho thuê</a><span>/</span>
                    <a href="" class="nav-link">Cho thuê</a><span>/</span>
                </div>

                <div class="product-title">
                    Cần cho thuê lâu dài diện tích sàn thương mại văn phòng toà FLC Twin Tower - 265 Cầu Giấy
                </div>
                <div class="product-address">FLC Twin Towers, 265, Đường Cầu Giấy, Phường Dịch Vọng, Cầu Giấy, Hà Nội</div>
                <hr>

                <div class="product-short-detail">
                    <span class="price">Thỏa thuận</span>
                    <span class="floor-area">1000 m²</span>
                    <span class="save"><span class="text">Lưu tin</span><i class="far fa-heart"></i></span>
                </div>
                <hr>
                <div class="product-content">
                    <h4>Thông tin mô tả</h4>
                    <div class="des">
                        Cần cho thuê lâu dài diện tích sàn thương mại văn phòng toà FLC Twin Tower - 265 Cầu Giấy
                        <div class="contact">
                            LH: <span class="phone badge badge-primary">0965454545</span>
                        </div>

                        <div class="main">
                            FLC Twin Towers 265 Cầu Giấy biểu tượng trung tâm quận Cầu Giấy trong quy hoạch thủ đô Hà Nội, dự án tâm huyết tập thể
                            xây dựng sáng tạo tập đoàn FLC. Với quy mô xây dựng hiện đại bậc nhất tại Hà Nội hiện nay. Văn phòng cho thuê và trung
                            tâm thương mại FLC Twin Towers 265 Cầu Giấy, biểu tượng tuyệt vời của tập đoàn FLC. <br>
                            Quy mô dự án FLC Twin Towers 265 Cầu Giấy. <br>
                            Tổng diện tích: 10. 629 m2. <br>
                            Tháp chung cư: 50 tầng. <br>
                            Tháp văn phòng: 38 tầng. <br>
                            Số tầng căn hộ: 44 tầng.. <br>
                            Số căn hộ: 420 căn. <br>
                            Số tầng hầm: 04 tầng hầm sức chứa 1000 xe ô tô và 3500 xe máy.<br>
                            Số tầng trung tâm thương mại: 06 tầng. <br>
                            Số tầng cây xanh: 02 tầng. <br>
                            Tiện ích đặc biệt dự án FLC Twin Towers 265 Cầu Giấy. <br>
                            
                            Thiết kế sang trọng, đẳng cấp tinh tế luôn đảm bảo nguồn gió, ánh sáng tự nhiên đến.
                            Mọi thông tin chi tiết về cho thuê văn phòng trung tâm thương mại, vui lòng liên hệ: Mr Tuấn
                        </div>
                    </div>
                </div>
                <div class="google-map">
                    <h4>Xem trên bản đồ</h4>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1608675464509!5m2!1svi!2s"
                        width="800" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                
                </div>
                
                <hr>

                <h3>Các dự án liên quan</h3>
                <div class="relative-products owl-carousel">
                    <div class="product-item">
                        <a href="">
                            <img src="../assets/images/home1.jpg" alt="Product Name" class="thumb">
                        </a>
                        <div class="ml">
                            <a title="Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện nghi" href="" class="description">Cho thue
                                văn
                                phòng hiện đại, sang trọng, đầy đủ tiện nghi Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện
                                nghi</a>
                            <div class="meta">
                                <span class="price">230 nghìn/m²/tháng</span>
                                <span class="floor-area">118 m²</span>
                            </div>
                            <a href="#" class="location">Cầu Giấy, Hà Nội</a href="#">
                            <div style="display: flex;">
                                <span class="moment">Hôm nay</span>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <img src="../assets/images/home1.jpg" alt="Product Name" class="thumb">
                        </a>
                        <div class="ml">
                            <a title="Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện nghi" href="" class="description">Cho thue
                                văn
                                phòng hiện đại, sang trọng, đầy đủ tiện nghi Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện
                                nghi</a>
                            <div class="meta">
                                <span class="price">230 nghìn/m²/tháng</span>
                                <span class="floor-area">118 m²</span>
                            </div>
                            <a href="#" class="location">Cầu Giấy, Hà Nội</a href="#">
                            <div style="display: flex;">
                                <span class="moment">Hôm nay</span>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <img src="../assets/images/home1.jpg" alt="Product Name" class="thumb">
                        </a>
                        <div class="ml">
                            <a title="Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện nghi" href="" class="description">Cho thue
                                văn
                                phòng hiện đại, sang trọng, đầy đủ tiện nghi Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện
                                nghi</a>
                            <div class="meta">
                                <span class="price">230 nghìn/m²/tháng</span>
                                <span class="floor-area">118 m²</span>
                            </div>
                            <a href="#" class="location">Cầu Giấy, Hà Nội</a href="#">
                            <div style="display: flex;">
                                <span class="moment">Hôm nay</span>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <img src="../assets/images/home1.jpg" alt="Product Name" class="thumb">
                        </a>
                        <div class="ml">
                            <a title="Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện nghi" href="" class="description">Cho thue
                                văn
                                phòng hiện đại, sang trọng, đầy đủ tiện nghi Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện
                                nghi</a>
                            <div class="meta">
                                <span class="price">230 nghìn/m²/tháng</span>
                                <span class="floor-area">118 m²</span>
                            </div>
                            <a href="#" class="location">Cầu Giấy, Hà Nội</a href="#">
                            <div style="display: flex;">
                                <span class="moment">Hôm nay</span>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <img src="../assets/images/home1.jpg" alt="Product Name" class="thumb">
                        </a>
                        <div class="ml">
                            <a title="Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện nghi" href="" class="description">Cho thue
                                văn
                                phòng hiện đại, sang trọng, đầy đủ tiện nghi Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện
                                nghi</a>
                            <div class="meta">
                                <span class="price">230 nghìn/m²/tháng</span>
                                <span class="floor-area">118 m²</span>
                            </div>
                            <a href="#" class="location">Cầu Giấy, Hà Nội</a href="#">
                            <div style="display: flex;">
                                <span class="moment">Hôm nay</span>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="">
                            <img src="../assets/images/home1.jpg" alt="Product Name" class="thumb">
                        </a>
                        <div class="ml">
                            <a title="Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện nghi" href="" class="description">Cho thue
                                văn
                                phòng hiện đại, sang trọng, đầy đủ tiện nghi Cho thue văn phòng hiện đại, sang trọng, đầy đủ tiện
                                nghi</a>
                            <div class="meta">
                                <span class="price">230 nghìn/m²/tháng</span>
                                <span class="floor-area">118 m²</span>
                            </div>
                            <a href="#" class="location">Cầu Giấy, Hà Nội</a href="#">
                            <div style="display: flex;">
                                <span class="moment">Hôm nay</span>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 sub">
                <div class="card-contact">
                    <div class="avatar">
                        <img src="../assets/images/avatar.jpg" alt="" class="rounded-circle">
                    </div>
                    <div class="name">Jpeace08</div>
                    <a href="" class="otherPost">Xem thêm <span class="number">24</span> tin khác</a>
                    <div class="btn btn-success btn-block">0965454545</div>
                    <div class="email">Gửi email</div>
                </div>
                <img class="fluid" src="../assets/images/adsss.jpg" alt="Ads">
            </div>
        </div>
    </div>
    <!--// Detail Product  -->

    <!-- jquery cdn  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- ajax cdn   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- owl-carousel -->
    <script src="../assets/owl-carousel/owl.carousel.min.js"></script>

    <!-- link script  -->
    <script src="../assets/js/script.js"></script>
</body>

</html>